body{
  margin:0;
  background-color:rgb(255, 255, 249);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body a{
  text-decoration: none;
  color:white;
}

 

 .title{
  text-align: center;
  margin-top:100px;
  margin-bottom:150px;
 }
 
 .mainContent{
   display:flex;
   text-align: center;
   justify-content: center;
   flex-direction: row;
   padding:30px;
 }
 
 main p{
 padding:50px;
 margin:40px;


 }



 main{
  text-align: center;
  margin:200px;
 }


 .mainContent p{
  padding-left:100px;
  padding-right:100px;
  margin-left: 80px;
 background-color:rgb(130, 99, 79);
 border-radius:12px;
 color:white;

 }


 input{
  width: 100%;
  border-radius:18px;
  padding:20px;
  font-size: 19px;
  border: 1px solid;
  margin-bottom:50px;

}

.input{
  width: 100%;
  border-radius:18px;
  padding:20px;
  font-size: 19px;
  border: 1px solid;
  margin-bottom:50px;

}

label{
  font-size: 20px;
}

.logIn{
  padding:15px;
  width:30%;
  border-radius:10px;
  border:none;
  background-color:rgb(71, 81, 119);
  color:azure;
  margin-left:19px;
  margin-top:20px;
}



.dontHaveAnAccount a{
margin-top:40px;
color:black;
}


#createAccountTxt{
  font-weight:bold;
}


#landlordOrTenant{

  font-size:20px;
  font-style: italic;
  
}
 
.site-footer {
  background: #2c3e50;
  color: white;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.copyright {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.9;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: opacity 0.2s;
}

.footer-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-col h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.footer-col h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
}

.footer-col a {
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: white;
}

.footer-col i {
  margin-right: 0.5rem;
  color: var(--accent-color);
}

